.footer {
  @include flex-row-center();

  &__img {
    padding-right: 7px;

  }

  &__text {
    font-family: $mainFont;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    opacity: 0.7;
    display: inline;
  }
}