.nav {
  @include flex-col-center();
  margin: 15px 0 0;

  &__text {

    font-family: $mainFont;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    opacity: 0.7;
    margin: 0;
  }

  &__btn {
    font-family: $titleFont;
    font-weight: normal;
    font-size: 20px;
    background: #00D1FF;
    border-radius: 30px;
    color: $mainColor;
    text-decoration: none;
    width: 200px;
    height: 54px;
    margin-top: 12px;
    line-height: 54px;

    &:hover {
      background: #f0bb00;

    }

  }
}