.splice-wrap {
	overflow: hidden;
	position: relative;

}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.container-splice {
	height: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	margin: 0 auto;
	overflow: hidden;
	//-webkit-animation: height .2s ease-in;
	//perspective: 1000px;

	.rect {
		height: 10px;
		background-image: url("/assets/img/hero.jpg");
		background-size: cover;
		background-position: 50% 70%;
		background-repeat: no-repeat;
		-webkit-animation: scale 60s infinite;

		@-webkit-keyframes scale {
			0% {
				-webkit-transform: scale(1.2);
			}
			50% {
				-webkit-transform: scale(1.5);
			}
			100% {
				-webkit-transform: scale(1.2);
			}
		}
	}

}

.module {

	&:last-child {
		margin-bottom: 0;
	}

	&.parallax {
		height: 600px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	&.parallax1 {
		background-image: url("/assets/img/office.jpg");
	}
	&.parallax2 {
		background: #000;
		height: 300px;
		//background-image: url("../images/hero.jpg");
		//-webkit-animation: scale 10s infinite;
		//

	}
}