//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400');


//@font-face {
//	font-family: 'Roboto Light';
//	src: url('../../../fonts/roboto/RobotoLight.svg');
//	src: url('../../../fonts/roboto/RobotoLight.eot?#iefix') format('embedded-opentype'),
//	url('../../../fonts/roboto/RobotoLight.woff') format('woff'),
//	url('../../../fonts/roboto/RobotoLight.ttf') format('truetype'),
//	url('../../../fonts/roboto/RobotoLight.svg#ProximaNova-Medium') format('svg');
//	font-weight: 300;
//	font-style: normal;
//}

h1 {
	font-size: 2.2rem;
	text-align: center;
}

h3 {
	color: #ffffff;
}